* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
    color: #333;
}


header {
    background: #0a57cf;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 60px;
}

.hero-text h1 {
    font-size: 50px;
    color: #222;
}

.hero-text .highlight {
    font-size: 45px;
    font-weight: bold;
    color: #f5533d;
}

.hero-text .highlight:hover{
    color:aquamarine
}

.hero-text p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.hero-img img {
    width: 300px;
    border-radius: 50%;
}


.about {
    padding: 50px 60px;
}


#projects {
    padding: 30px;
    position: relative;
    top: 190px;
}


.project-box {
    position: relative;
    height: 200px;
    width: 90%;
    max-width: 700px;
    margin: 80px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: zoom 10s infinite ease-in-out;
    
}

.project-box img{
  width:100%;
  max-width:700px;
  margin:10px 0;
  height:200px;
  border-radius:6px;
  display:block;
  object-fit:cover;
 
}
.project-box:hover {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 15px black;
}

@keyframes zoom {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.18); }
    100% { transform: scale(1); }
}

.project-box:nth-child(1) {
    background: url('project.1.jpg') center/cover no-repeat;
}

.project-box:nth-child(2) {
    background: url('project.2.jpg') center/cover no-repeat;
}

.project-box::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
    border-radius: 15px;
}


/* Contact Section */
.contact {
    padding: 40px 60px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.contact-form {
    background: white;
    width: 330px;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.contact-form label {
    font-size: 14px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px;
    border: 1px solid #1c6ed5;
    border-radius: 4px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #0a57cf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


footer {
    background: #0a57cf;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}


.top-btn {
    background: #0a57cf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}